body {
  font-family: "Roboto", sans-serif;
  background: #FFECAF; }

a {
  color: #008DBD; }

a:hover {
  color: #FF0000;
  transition: ease 0.5s; }

.one {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  margin-bottom: -30px;
  padding-bottom: 5px; }

.two {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  margin-bottom: -20px; }

.three {
  font-color: black; }

aside {
  float: left;
  width: 30%;
  margin-left: 15px;
  border-right: 1px solid;
  margin-top: 15px; }

.container {
  float: right;
  width: 60%; }

.button {
  border-radius: 100%;
  height: 170px;
  text-align: center;
  padding-top: 70px; }

.button:hover {
  background-color: #FF0071; }

section {
  margin-right: 15px; }

.line {
  color: black; }

.p1 {
  margin-top: 65px;
  margin-right: 40px;
  font-family: "Roboto", sans-serif; }

.profpic {
  height: 245px;
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid black; }

.b2 {
  display: none; }

.display {
  margin-top: 85px;
  float: right;
  margin-right: 250px;
  height: 170px;
  border-radius: 100%; }

.change {
  font-family: "Wingdings", sans-serif;
  margin-top: 65px;
  margin-right: 40px; }
