body {
  font-family: "Roboto", sans-serif;
  background: #C1FFD5; }

a {
  color: #008DBD; }

a:hover {
  color: #FF0000;
  transition: ease 0.5s; }

.one {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  margin-bottom: -30px;
  padding-bottom: 5px; }

.two {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  margin-bottom: -20px; }

.three {
  font-color: black; }

.aside {
  float: left;
  width: 30%;
  margin-left: 15px;
  border-right: 1px solid;
  margin-top: 15px;
  height: 600px; }

.container {
  float: right;
  width: 60%; }

.button {
  border-radius: 100%;
  height: 170px;
  text-align: center;
  padding-top: 75px; }

.button:hover {
  background-color: #FF0071; }

.sectionOne {
  margin-right: 15px; }

.line {
  color: black; }

.p1 {
  margin-top: 65px;
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.profpic {
  height: 245px;
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid black; }

.b2 {
  display: none; }

.display {
  margin-top: 85px;
  float: right;
  margin-right: 300px;
  height: 170px;
  width: 170px;
  border-radius: 100%; }

.display:hover {
  background-color: #FF0071; }

.display:focus {
  outline: none; }

.change {
  font-family: "Wingdings", sans-serif;
  margin-top: 65px;
  margin-right: 40px; }

.funnyBox {
  height: 40px;
  width: 70px;
  background-color: #FFC8CB; }

.funnyBox:hover {
  background-color: #00FFD2;
  transition: ease 1s; }

.funnyBox:focus {
  outline: none; }

.newButton {
  display: none; }

.newButton:focus {
  outline: none; }

.alt {
  background-color: #FFC8CB; }

.alternative {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  margin-top: 65px;
  margin-right: 40px;
  font-weight: 700; }

.appear {
  background-color: #C1FFD5;
  height: 40px;
  width: 70px; }

.appear:hover {
  background-color: #00FFE9; }

.appear:focus {
  outline: none; }
