$mainFont: 'Roboto', sans-serif;
$mainColor: #C1FFD5;
$wingDings: 'Wingdings', sans-serif;
$titleFont: 'Oswald', sans-serif;
$altColor: #FFC8CB;
$altFont: 'Amatic SC', cursive;

// ************
// ****Body****
// ************

body{
font-family: $mainFont;
background: $mainColor;
}

a{
  color: #008DBD;
}

a:hover{
  color: #FF0000;
  transition: ease 0.5s;
}

.one{
  display: block;
  font-family: $titleFont;
  font-size: 100px;
  margin-bottom: -30px;
  padding-bottom: 5px;
}

.two{
  display: block;
  font-family: $titleFont;
  font-size: 100px;
  margin-bottom: -20px;
}

.three{
  font-color: black;
}

// ***********
// ***Aside***
// ***********



aside{
  float: left;
  width: 30%;
  margin-left: 15px;
  border-right: 1px solid;
  margin-top: 15px;
}

.container{
  float: right;
  width: 60%;
}

.button{
  border-radius: 100%;
  height: 170px;
  text-align: center;
  padding-top: 75px;
}

.button:hover {
  background-color: #FF0071;
}

// *************
// ***Section***
// *************


section{
  margin-right: 15px;
}

.line{
  color: black;
}

.p1{
    margin-top: 65px;
    margin-right: 40px;
    font-family: $mainFont;
    font-size: 18px;
}

.profpic{
    height: 245px;
    margin-top: 15px;
    border-radius: 30px;
    border: 1px solid black;
}

.b2{
  display: none;
}

.display{
    margin-top: 85px;
    float: right;
    margin-right: 300px;
    height: 170px;
    width: 170px;
    border-radius: 100%;
}

.display:hover{
  background-color: #FF0071;
}

// *************
// ***button fun**
// **************



.change{
    font-family: $wingDings;
    margin-top: 65px;
    margin-right: 40px;
}



.funnyBox{
  height:40px;
  width:70px;
  background-color: #FFC8CB;
}

.funnyBox:hover{
  background-color: #00FFD2;
  transition: ease 1s;
}

.newButton{
  display: none;
}

// ***********
// ***Alts****
// ***********



.alt{
  background-color: $altColor;
}

.alternative{
  font-family: $altFont;
  font-size: 25px;
  margin-top: 65px;
  margin-right: 40px;
  font-weight: 700;
}

.appear{
  background-color: $mainColor;
  height: 40px;
  width: 70px;
}

.appear:hover{
  background-color: #00FFE9;
}
